@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;700&display=swap');

$dark-gray: #1B1B1B;
$white: #FFFF;
$azul-marinho: #22D4FD;
$black: black;
$gray-gradient: (#1B1B1B, #000)