@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;700&display=swap');

//SASS ROOTS
// $background: #1B1B1B;
// $paragrafos: #FFFF;
// $turnmode: #FFFF;
// $destaques: #22D4FD;
// $backgroundcontainers: black;
// $gradiente1: (#1B1B1B, #000);


//ROOT PARA DARK LIGHT MODE
:root {
    --background: #1B1B1B;
    --background2: #1f1f1f;
    --paragrafos: #FFFF;
    --destaques: #22D4FD;
    --backgroundcontainers: black;
    --gradiente1: #1B1B1B;
    --gradiente2: #000;
    --black: #000;
    --white: #FFFFFF;

    --turnmode: linear-gradient(to bottom, #53527a, #C9C9C9);
    --destaque-gradient: linear-gradient(#22D4FD, #C9C9C9);

}

.light-mode:root {
    --background: #d1d1d1;
    --background2: #c9c9c9;
    --paragrafos: #111111;
    --destaques: #134e5c;
    --backgroundcontainers: #c9c9c9;
    --gradiente1: #d1d1d1;
    --gradiente2: #ffffff;
    --black: #000;
    --white: #FFFFFF;

    --turnmode: linear-gradient(to top, #FC9601, #fffb00);
    --destaque-gradient: linear-gradient(#134e5c, #111111);
}

