@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

:root {
  --background: #1B1B1B;
  --background2: #1f1f1f;
  --paragrafos: #FFFF;
  --turnmode: #FFFF;
  --destaques: #22D4FD;
  --backgroundcontainers: black;
  --gradiente1: #1B1B1B;
  --gradiente2: #000;
  --black: #000;
  --white: #FFFFFF;
}

.light-mode:root {
  --background: #d1d1d1;
  --background2: #c9c9c9;
  --paragrafos: #111111;
  --turnmode: #000000;
  --destaques: #134e5c;
  --backgroundcontainers: #c9c9c9;
  --gradiente1: #d1d1d1;
  --gradiente2: #ffffff;
  --black: #000;
  --white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--paragrafos);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

hr {
  border-color: gray;
}

strong {
  color: var(--destaques);
}

.header-navegacao-lista {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.header-navegacao-itens {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: var(--destaques);
  font-size: 1.5rem;
}

.header-navegacao-itens:hover {
  animation: zoom 2s;
  animation-fill-mode: forwards;
}

.header-navegacao-itens-text {
  color: var(--paragrafos);
}

.header-titulo a {
  text-decoration: none;
  color: var(--destaques);
  font-size: 1.5rem;
}
.header-titulo b {
  color: var(--paragrafos);
}

.header-titulo:hover {
  animation: zoom 2s;
  animation-fill-mode: forwards;
}

.hr-header {
  margin: 0 4rem;
}

.fa-moon {
  color: var(--turnmode);
  cursor: pointer;
}

.fa-moon:hover {
  animation: zoom 2s;
  animation-fill-mode: forwards;
}

.checkbox-button {
  display: none;
  position: absolute;
}

.header-navegacao-turnmode {
  padding-left: 1rem;
}

.hero {
  padding: 4rem 0;
}

.hero-title {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.hero-title-text {
  font-size: 4rem;
  color: var(--destaques);
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-card {
  border: 2px solid var(--backgroundcontainers);
  background-color: var(--background2);
  border-radius: 40% 0 40% 0;
  padding: 2rem;
}

.hero-card-image {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
}
.hero-card-image img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.hero-card-line {
  margin: 1.5rem 0;
  border-color: var(--backgroundcontainers);
}

.hero-card-content {
  display: flex;
  flex-direction: column;
}
.hero-card-content h2 {
  color: var(--paragrafos);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.hero-card-content p {
  color: var(--paragrafos);
  font-size: 1rem;
}

.hero-card-perfil {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 2px solid var(--destaques);
  border-radius: 2rem;
  color: var(--paragrafos);
  text-decoration: none;
  font-size: 1rem;
  margin-top: 1rem;
}

.hero-card-perfil:hover {
  background-color: var(--background);
  animation: zoom 2s;
  animation-fill-mode: forwards;
  transition: 2s;
}

.hero-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-about-text {
  font-size: 2rem;
}

.hero-about-btn {
  font-size: 1.2rem;
  background-color: var(--destaques);
  color: var(--backgroundcontainers);
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid var(--paragrafos);
  border-radius: 4rem;
}

.hero-about-btn:hover {
  background-color: var(--backgroundcontainers);
  color: var(--destaques);
  animation: zoom 2s;
  animation-fill-mode: forwards;
  transition: 2s;
}

.hero-linguagens {
  list-style: none;
  background-color: var(--backgroundcontainers);
  border-radius: 4rem;
}

.hero-linguagens-itens {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 2rem;
  gap: 1rem;
}
.hero-linguagens-itens h2 {
  font-size: 2.5rem;
  color: var(--destaques);
}

.about {
  background: linear-gradient(var(--gradiente1), var(--gradiente2));
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 12rem;
  gap: 2rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}

.about-title-content {
  color: var(--destaques);
  font-size: 3rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-text-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-text-text h3 {
  font-size: 2rem;
}
.about-text-text p {
  line-height: 1.5;
}

.about-text-container {
  background-color: var(--background2);
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 5rem;
}

.about-image {
  width: 75%;
  border-radius: 2rem;
}

.hr-about {
  margin: 2rem 4rem;
}

.soft-skills {
  list-style: none;
}
.soft-skills h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
}

.soft-skills-content {
  padding: 0.5rem 0;
}
.soft-skills-content h3 {
  font-size: 1.5rem;
}
.soft-skills-content p {
  font-size: 1rem;
}

.projects-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  gap: 2rem;
}

.projects-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 6rem 0;
}
.projects-title h2 {
  font-size: 6rem;
}

.project-container {
  background-color: var(--background2);
  border: 2px solid var(--backgroundcontainers);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 32rem;
}
.project-container h3 {
  margin-bottom: 2rem;
}
.project-container img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border: 2px solid var(--background2);
}
.project-container p {
  margin: 2rem 0;
}
.project-container a {
  text-decoration: none;
  color: var(--destaques);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--background);
}

.project-button:hover {
  background-color: var(--backgroundcontainers);
  transition: 2s;
}

.projects-repositorios {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 5rem 0;
}
.projects-repositorios a {
  font-size: 2rem;
  color: var(--destaques);
  text-decoration: none;
}

.project-tecnologias {
  display: flex;
  margin-top: 2rem;
  gap: 1.5rem;
}

.project-tecnologias-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-tecnologias-content p {
  margin: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem 0;
  gap: 2rem;
}

.skills::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../assets/codingskills.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(8px);
  opacity: 0.3;
}

.skills-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.skills-title h2 {
  font-size: 2rem;
  color: var(--destaques);
}
.skills-title p {
  font-size: 1rem;
  text-align: center;
}
.skills-title hr {
  width: 10rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.skills-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  border-radius: 1rem;
  gap: 0.5rem;
  border-left: 6px solid var(--backgroundcontainers);
  background-color: var(--destaques);
}
.skills-box i {
  color: var(--backgroundcontainers);
}
.skills-box h3 {
  color: var(--backgroundcontainers);
}

.skills-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 0;
}

.skills-list-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.html {
  color: #ff5e00;
}

.css {
  color: #0051ff;
}

.javascript {
  color: yellow;
}

.github {
  color: rgb(255, 255, 255);
}

.sass {
  color: #a04491;
}

.figma {
  color: #000000;
}

.footer-content {
  background-color: var(--backgroundcontainers);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.footer-content h2 {
  font-size: 1rem;
}

.btn-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  color: var(--backgroundcontainers);
  background-color: var(--destaques);
  padding: 0.5rem;
  border-radius: 4rem;
  animation: zoom 2s infinite alternate;
}

@media screen and (max-width: 1024px) {
  .header-navegacao-sublista p {
    display: none;
  }
  header {
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .header-titulo a {
    font-size: 1.3rem;
  }
  .header-titulo b {
    font-size: 1.3rem;
  }
  .header-navegacao-turnmode {
    padding-left: 1rem;
  }
  .hero-content {
    flex-direction: column;
  }
  .hero-card {
    padding: 4rem 2.5rem;
    border-radius: 1rem 30% 1rem 30%;
  }
  .hero-card-content h2 {
    font-size: 2rem;
  }
  .hero-card-content p {
    font-size: 1.5rem;
  }
  .hero-card-content a {
    font-size: 1.5rem;
  }
  .hero-about {
    margin: 0 2rem;
  }
  .hero-about-text {
    font-size: 2.2rem;
  }
  .hero-linguagens {
    border-radius: 1rem;
    display: none;
  }
  .hero-linguagens-itens h2 {
    font-size: 3rem;
  }
  .hero-linguagens-itens p {
    font-size: 2rem;
  }
  .about-me {
    margin: 0 1rem;
    padding: 3rem 1rem;
  }
  .about-text-container {
    gap: 0;
  }
  .about-image {
    display: none;
  }
  .projects-title h2 {
    font-size: 4rem;
  }
  .skills {
    margin: 0 1rem;
  }
  .skills-box {
    padding: 1rem;
  }
  .skills-box h3 {
    text-align: center;
  }
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .btn-top {
    padding: 1rem;
    border-radius: 4rem;
    opacity: 0.6;
  }
}
@media screen and (min-width: 1024px) {
  .btn-top:hover {
    color: var(--destaques);
    background-color: var(--backgroundcontainers);
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}/*# sourceMappingURL=style.css.map */